{#
params:
- homeRoute
- homeLabel
- indexRoute
- indexLabel
- showRoute
- showLabel
- createRoute
- createLabel
- editRoute
- editLabel
#}
{% set current_route = app.request.attributes.get('_route') %}
{# index #}
{% if current_route == indexRoute %}
	<li class="inline-flex items-center">
		<a href="{{ path(homeRoute) }}" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand">
			<svg class="me-1.5 h-4 w-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
			</svg>
			{{ homeLabel }}
		</a>
	</li>
	<li aria-current="page">
		<div class="flex items-center space-x-1.5">
			<svg class="h-3.5 w-3.5 text-body rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
			</svg>
			<span class="inline-flex items-center text-sm font-medium text-body-subtle">{{ indexLabel }}</span>
		</div>
	</li>
{% endif %}
{# détail #}
{% if current_route == showRoute %}
	<li class="inline-flex items-center">
		<a href="{{ path(homeRoute) }}" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand">
			<svg class="me-1.5 h-4 w-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
			</svg>
			{{ homeLabel }}
		</a>
	</li>
	<li class="inline-flex items-center">
		<div class="flex items-center space-x-1.5">
			<svg class="h-3.5 w-3.5 text-body rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
			</svg>
			<a href="{{ path(indexRoute) }}" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand">{{ indexLabel }}</a>
		</div>
	</li>
	<li aria-current="page">
		<div class="flex items-center space-x-1.5">
			<svg class="h-3.5 w-3.5 text-body rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
			</svg>
			<span class="inline-flex items-center text-sm font-medium text-body-subtle">{{ showLabel }}</span>
		</div>
	</li>
{% endif %}
{# création / édition #}
{% if current_route == createRoute or current_route == editRoute %}
	<li class="inline-flex items-center">
		<a href="{{ path(homeRoute) }}" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand">
			<svg class="me-1.5 h-4 w-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/>
			</svg>
			{{ homeLabel }}
		</a>
	</li>
	<li class="inline-flex items-center">
		<div class="flex items-center space-x-1.5">
			<svg class="h-3.5 w-3.5 text-body rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
			</svg>
			<a href="{{ path(indexRoute) }}" class="inline-flex items-center text-sm font-medium text-body hover:text-fg-brand">{{ indexLabel }}</a>
		</div>
	</li>
	<li aria-current="page">
		<div class="flex items-center space-x-1.5">
			<svg class="h-3.5 w-3.5 text-body rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
			</svg>
			<span class="inline-flex items-center text-sm font-medium text-body-subtle">
				{% if current_route == createRoute %}
					{{ createLabel}}
				{% elseif current_route == editRoute %}
					{{ editLabel }}
				{% endif %}
			</span>
		</div>
	</li>
{% endif %}
